.app > img {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -100;
  transform: translate(-50%, -50%);
  width: 768px;
  -o-object-fit: cover;
     object-fit: cover;
}
.app > div {
  position: absolute;
  left: 36%;
  top: 13%;
  transform: translate(-50%, -50%);
}
.app > div h2 {
  line-height: 24px;
}
.app > div > p {
  line-height: 17px;
}
.app > div > a {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(0%, 950%);
}
.app > div > div:nth-of-type(1) {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(0%, 1100%);
  opacity: 0.7;
  text-align: center;
  background-color: #0F3642;
}
.app > div > div:nth-of-type(1) > button {
  cursor: pointer;
  background-color: transparent;
  width: 350px;
  padding: 15px;
  border-radius: 4px;
  color: #fff;
  opacity: 0.7;
}

@media screen and (max-width: 480px) {
  .app > img {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -100;
    transform: translate(-50%, -50%);
    width: 480px;
    height: 800px;
  }
  .app > div {
    position: absolute;
    left: 43%;
    top: 15%;
    transform: translate(-50%, -50%);
  }
  .app > div h2 {
    line-height: 8px;
  }
  .app > div > a {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(100%, 1250%);
  }
  .app > div > div:nth-of-type(1) {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(13%, 1100%);
    opacity: 0.7;
  }
  .app > div > div:nth-of-type(1) > a > img {
    border-radius: 100px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}