.customoverlay {
  position: relative;
  bottom: 85px;
  border-radius: 6px;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ddd;
  float: left;
}

.customoverlay:nth-of-type(n) {
  border: 0;
  box-shadow: 0px 1px 2px #888;
}

.customoverlay a {
  display: block;
  text-decoration: none;
  color: #000;
  text-align: center;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  background: #d95050;
  background: #d95050 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;
}

.customoverlay .title {
  display: block;
  text-align: center;
  background: #fff;
  margin-right: 35px;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
}

.customoverlay:after {
  content: "";
  position: absolute;
  margin-left: -12px;
  left: 50%;
  bottom: -12px;
  width: 22px;
  height: 12px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png");
}

.mycomscss {
  width: 768px;
  margin: 0 auto;
  padding: 0 70px;
}
.mycomscss > div:nth-of-type(1) {
  padding-top: 40px;
  padding-bottom: 30px;
  display: flex;
  font-size: 24px;
  cursor: pointer;
}
.mycomscss > div:nth-of-type(1) > svg:nth-of-type(1) {
  padding-top: 5px;
  padding-right: 5px;
}
.mycomscss > div:nth-of-type(1) > p > svg:nth-of-type(1) {
  padding-left: 3px;
  transform: rotate(180deg);
  transition: all 0.3s;
}
.mycomscss > div:nth-of-type(1) > p > svg:nth-of-type(1).active {
  transform: rotate(0deg);
}
.mycomscss > div:nth-of-type(2) {
  margin-bottom: 30px;
}

.areatopbest {
  cursor: pointer;
  width: 100%;
  margin: 0 70px 0 0px;
  margin-top: 30px;
}

.swiper {
  width: 768px;
  margin: 0 auto;
}

.swiper-horizontal {
  margin: 0 70px 0 70px;
}

.swiperwidth {
  width: 130px !important;
  margin-right: 12px !important;
}

.swiper-slide > div {
  background-color: #eef5f8;
  display: inline-block;
  border: 1px solid #000;
  border-radius: 15px;
  width: 120px;
  height: 50px;
  margin-left: 10px;
  border: none;
}
.swiper-slide > div > p {
  text-align: center;
  line-height: 50px;
}
.swiper-slide > div > p > img {
  vertical-align: middle;
}
.swiper-slide > div > p > img:hover {
  transform: scale(1.5) skew(-10deg);
}
.swiper-slide .area.active {
  background-color: #0f3642;
  color: #fff;
}

.swiper-slide:hover > div {
  transform: skew(10deg);
  background-color: #84b1e0;
}

.swiper-pagination-horizontal {
  display: none;
}

.seoulapi1 {
  width: 768px;
  margin: 100px 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 25px;
}
.seoulapi1 > p {
  padding-right: 7px;
  margin-bottom: 30px;
  width: 100%;
}
.seoulapi1 > div {
  display: inline-block;
  width: 300px;
  padding-bottom: 30px;
  margin-right: 0;
  position: relative;
}
.seoulapi1 > div > div > a > img {
  border-radius: 16px;
  margin-bottom: 20px;
}
.seoulapi1 > div > div > a > div {
  position: absolute;
  left: 0;
  top: 10%;
  width: 100%;
}
.seoulapi1 > div > div > a > div > div {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
  font-size: 14px;
  opacity: 0.7;
}
.seoulapi1 > div > div > a > div > div > div {
  color: #fff;
  border: 1px solid #000;
  padding: 5px 16px;
  border-radius: 30px;
  background-color: #ff3509;
  border: none;
}
.seoulapi1 > div > div > a > div > div > p {
  color: #464646;
}
.seoulapi1 > div > div > div {
  width: 100%;
  padding: 0 20px;
}
.seoulapi1 > div > div > div > div {
  display: flex;
  justify-content: space-between;
}

.toggler-wrapper.style-26 input[type=checkbox] {
  display: none;
}

.toggler-wrapper.style-26 .toggler-slider {
  position: relative;
  width: 50px;
  height: 25px;
  background-color: #d9d9d9;
  border-radius: 25px;
}

.toggler-wrapper.style-26 .toggler-knob {
  position: absolute;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  background-color: #eb4f37;
  transition: left 0.3s ease;
}

.toggler-wrapper.style-26 .toggler-knob:after {
  content: "0";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 75%;
  text-transform: uppercase;
  font-weight: 500;
  transition: content 0.3s ease, color 0.3s ease;
  color: white;
}

.toggler-wrapper.style-26 input[type=checkbox]:checked + .toggler-slider .toggler-knob {
  left: calc(100% - 19px - 3px);
  background-color: #44cc66;
}

.toggler-wrapper.style-26 input[type=checkbox]:checked + .toggler-slider .toggler-knob:after {
  content: "1";
}

.calender_wrap > div {
  position: relative;
  top: 0;
  left: 0;
  z-index: 11;
}
.calender_wrap > div > div:nth-of-type(2) {
  position: absolute;
  top: 30px;
  left: 0;
  border: 1px solid;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 3px;
  width: 230px;
  background-color: #f8f8f8;
}
.calender_wrap > div > div:nth-of-type(2) > table {
  margin: 0 auto;
}
.calender_wrap > div > div:nth-of-type(2) > table > tbody {
  cursor: pointer;
}
.calender_wrap > div > div:nth-of-type(2) > table > tbody > tr > td:hover {
  background-color: #ffe4c4;
  border-radius: 10px;
}

@media screen and (min-width: 760px) {
  .areatopbest {
    margin: 0 70px 0 0px !important;
  }
}
@media screen and (max-width: 760px) {
  .calender_wrap > div {
    position: relative;
    top: 30px;
    left: -230px;
  }
  .mycomscss > div:nth-of-type(2) {
    width: 67%;
  }
  .seoulapi1 > div {
    margin-right: 100px;
  }
}