* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.header {
  width: 768px;
  max-width: 768px;
  margin: 0 auto;
  padding-top: 40px;
}

.loggo {
  text-decoration: none;
}
.h1 {
  font-weight: bold;
}

.headeralldiv {
  display: flex;
  justify-content: space-between;
  padding: 0 70px 0 70px;
}

.lfetmenu {
  display: flex;
  vertical-align: middle;
}

.headermaun {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  margin-left: 24px;
  margin-right: 2px;
  cursor: pointer;
}

.headermaunfirstspan {
  display: block;
  width: 43px;
  height: 2px;
  background-color: black;
  margin-bottom: 10px;
}

.headermaunthreespan {
  display: block;
  width: 32px;
  height: 2px;
  background-color: black;
}

ul {
  list-style-type: none;
}

a {
  color: #b63b4d;
  text-decoration: none;
}

/** =======================
 * Contenedor Principal
 ===========================*/
h1 {
  color: #474343;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
}

.accordion {
  display: flex;
  justify-content: center;
  width: 240px;

  margin: 20px 10px 0 auto;
  background: #474343;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  > li {
    overflow: hidden;
  }
}

.accordion .link {
  cursor: pointer;
  display: block;
  padding: 15px 105px 15px 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid #ccc;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li:last-child .link {
  border-bottom: 0;
}

.accordion li i {
  position: absolute;
  font-size: 18px;
  color: #595959;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
  right: 12px;
  left: auto;
  font-size: 16px;
}
.link .fa-chevron-down {
  transition: all 0.4s;
  transform: rotate(0deg);
}

.link .fa-chevron-down.activeev {
  transition: all 0.4s;
  transform: rotate(180deg);
}
.accordion li.open .link {
  color: #b63b4d;
}

.accordion li.open i {
  color: #b63b4d;
}
.accordion li.open .fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.accordion li.default .submenu {
  display: block;
}
/**
 * Submenu
 -----------------------------*/
.submenu {
  display: none;
  background: #444359;
  font-size: 14px;
}
.submenu.activee {
  display: block;
  height: 500px;
  overflow-y: scroll;
}

.submenu li {
  border-bottom: 1px solid #4b4a5e;
}

.submenu a {
  display: block;
  text-decoration: none;
  color: #d9d9d9;
  padding: 12px;
  padding-left: 12px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.submenu a:hover {
  background: #b63b4d;
  color: #fff;
}

.articletop {
  display: none;
  position: relative;
  right: 50px;
  top: -43px;
  width: 768px;

  article {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #d8d8d8;
    width: 260px;
    border-radius: 10px;
    padding-bottom: 10px;

    > div:nth-of-type(1) {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 15px;
      margin-top: 30px;
      margin-right: 10px;

      > p:nth-of-type(1) {
        cursor: pointer;
        position: relative;
        width: 20px;
        height: 20px;
        top: -14px;
        left: 236px;

        > span:nth-of-type(1),
        > span:nth-of-type(2) {
          position: absolute;
          top: 0;
          left: 0;
          display: inline-block;
          background-color: #000;
          width: 15px;
          height: 2px;
        }
        > span:nth-of-type(1) {
          transform: rotate(45deg);
        }
        > span:nth-of-type(2) {
          transform: rotate(135deg);
        }
      }

      > img {
        position: relative;
        left: 0;
        top: 0;

        border-radius: 50%;
        width: 55px;
        height: 55px;
        margin-right: 15px;
      }
      > div:nth-of-type(1) {
        > p:nth-of-type(1) {
          width: 170px;
          cursor: pointer;

          .fa-chevron {
            pointer-events: none;
            transition: all 0.4s;
            transform: rotate(0deg);
          }
          .fa-chevron.activeeee {
            pointer-events: none;
            transition: all 0.4s;
            transform: rotate(180deg);
          }
        }
        > button {
          display: none;
        }
        > button.active {
          cursor: pointer;
          margin-top: 7px;
          padding: 3px 10px;
          border-radius: 5px;
          display: block;
          border: none;
        }
      }
    }
    > div:nth-of-type(2) {
      display: flex;
      justify-content: flex-end;
      margin-right: 10px;
      > h2 {
        display: flex;
        justify-content: flex-start;
        left: 0px;
        width: 230px;
        // width: calc(100% - 240px);
        font-size: 20px;
        border-bottom: 1px solid #b4b4b4;
      }
      > h2 .icon {
        display: inline-block;
        background-image: url("/header/house_chimney_icon.png");
        width: 20px;
        height: 20px;
        background-size: cover; /* 이미지 크기 조절 */
        margin-bottom: -5px;
        margin-right: 10px;
      }
    }
  }
}

.articletop.activeee {
  display: block;
  z-index: 10;
}

@media screen and (max-width: 760px) {
  .header {
    width: 500px;
    max-width: 500px;
  }
  .articletop {
    width: 480px;
    max-width: 480px;
  }
}
@media screen and (max-width: 486px) {
  .header {
    width: 400px;
    max-width: 400px;
  }
  .articletop {
    width: 380px;
    max-width: 380px;
  }
}