.customoverlay {
  position: relative;
  bottom: 85px;
  border-radius: 6px;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ddd;
  float: left;
}
.customoverlay:nth-of-type(n) {
  border: 0;
  box-shadow: 0px 1px 2px #888;
}
.customoverlay a {
  display: block;
  text-decoration: none;
  color: #000;
  text-align: center;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  background: #d95050;
  background: #d95050
    url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png)
    no-repeat right 14px center;
}
.customoverlay .title {
  display: block;
  text-align: center;
  background: #fff;
  margin-right: 35px;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
}
.customoverlay:after {
  content: "";
  position: absolute;
  margin-left: -12px;
  left: 50%;
  bottom: -12px;
  width: 22px;
  height: 12px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png");
}

.mycomscss {
  width: 768px;
  margin: 0 auto;
  padding: 0 70px;

  > div:nth-of-type(1) {
    padding-top: 40px;
    padding-bottom: 30px;
    display: flex;
    font-size: 24px;
    cursor: pointer;
    > svg:nth-of-type(1) {
      padding-top: 5px;
      padding-right: 5px;
    }
    >p {

      > svg:nth-of-type(1) {
        padding-left: 3px;
        transform: rotate(180deg);
        transition: all 0.3s;
      }
      > svg:nth-of-type(1).active {
        transform: rotate(0deg);
      }
    }
    
  }
  > div:nth-of-type(2) {
    margin-bottom: 30px;
  }
}

//스와이퍼
.areatopbest1 {
  cursor: pointer;
  width: 100%;
  margin: 0 70px 0 0px;
  margin-top: 30px;
}
.swiper {
  width: 768px;
  margin: 0 auto;
}
.swiper-horizontal {
  margin: 0 70px 0 70px;
}

.swiperwidth {
  width: 130px !important;
  margin-right: 12px !important;
}
.swiper-slide {
  > div {
    background-color: #eef5f8;

    display: inline-block;
    border: 1px solid #000;
    border-radius: 15px;
    width: 120px;
    height: 50px;
    margin-left: 10px;
    border: none;
    > p {
      text-align: center;
      line-height: 50px;
      > img {
        vertical-align: middle;
      }
      > img:hover {
        transform: scale(1.5) skew(-10deg);
      }
    }
  }
  .area.active {
    background-color: #0f3642;
    color: #fff;
  }
}
.swiper-slide:hover {
  > div {
    transform: skew(10deg);
    background-color: #84b1e0;
  }
}

.swiper-pagination-horizontal {
  display: none;
}

//서울 api
.seoulapi1 {
  width: 768px;

  margin: 100px 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap:25px;
  > p {
    padding-right: 7px;
    margin-bottom: 30px;
    width: 100%;
  }
  > div {
    display: inline-block;
    width: 300px;
    padding-bottom: 30px;
    margin-right: 0;
    position: relative;
    > div {
      > a {
        > img {
          border-radius: 16px;
          margin-bottom: 20px;
        }
        > div {
          position: absolute;
          left: 0;
          top: 10%;
          width: 100%;
          > div {
            display: flex;
            justify-content: space-between;
            padding: 0 8px;
            font-size: 14px;
            opacity: 0.7;
            > div {
              color: #fff;
              border: 1px solid #000;
              padding: 5px 16px;
              border-radius: 30px;
              background-color: #ff3509;
              border: none;
            }
            > p {
              color: #464646;
            }
          }
        }
      }
      > div {
        width: 100%;
        padding: 0 20px;
        > div {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}

.toggler-wrapper.style-26 input[type="checkbox"] {
  display: none;
}

.toggler-wrapper.style-26 .toggler-slider {
  position: relative;
  width: 50px;
  height: 25px;
  background-color: #d9d9d9;
  border-radius: 25px;
}

.toggler-wrapper.style-26 .toggler-knob {
  position: absolute;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  background-color: #eb4f37;
  transition: left 0.3s ease;
}

.toggler-wrapper.style-26 .toggler-knob:after {
  content: "0";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 75%;
  text-transform: uppercase;
  font-weight: 500;
  transition: content 0.3s ease, color 0.3s ease;
  color: white;
}

.toggler-wrapper.style-26
  input[type="checkbox"]:checked
  + .toggler-slider
  .toggler-knob {
  left: calc(100% - 19px - 3px);
  background-color: #44cc66;
}

.toggler-wrapper.style-26
  input[type="checkbox"]:checked
  + .toggler-slider
  .toggler-knob:after {
  content: "1";
}

//캘린더
.calender_wrap {
  > div {
    position: relative;
    top:0; left:0;
    z-index: 11;
    > div:nth-of-type(2) {
      position: absolute;
      top:30px; left:0;
      border: 1px solid;
      border-radius: 8px;
      overflow: hidden;
      margin-top: 3px;
      width: 230px;
      background-color: #f8f8f8;
      > table {
        margin: 0 auto;

        > tbody {
          cursor: pointer;
          > tr {
            > td:hover {
              background-color: #ffe4c4;
              border-radius: 10px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 760px) {
  .areatopbest1 {
    margin: 0 70px 0 0px !important;
  }
}
@media screen and (max-width: 760px) {
  .calender_wrap > div {
    position: relative;
    top: 30px;
    left: -230px;
  }
  .mycomscss {
    > div:nth-of-type(2) {
      width: 67%;
    }
  }
  .seoulapi1 > div {
    margin-right: 100px;
  }
}

@media screen and (max-width: 600px) {
  .mycomscss {
    padding: 0 40px;
  }
  .mycomscss {
    > div:nth-of-type(2) {
      width: 57%;
    }
  }
}

@media screen and (max-width: 486px) {
  .mycomscss {
    padding: 0 20px;
  }
  .mycomscss {
    > div:nth-of-type(2) {
      width: 42%;
    }
  }
}
