
.app {
  width: 768px;
  margin: 0 auto;
  >div {
    position: relative;
    margin-top:10px; left: 0;

    >div {
      position: absolute;
      top:190px; left:20%;
      padding: 0 40px;
      background: #fff;
      border-radius: 20px;

      >div:nth-of-type(1) {
        padding-top: 70px;
        text-align: center;
      }
      >p {
        padding-bottom: 300px;
      }
    }  

  }
}


@media screen and (max-width: 600px) {
  .app {
    >div {
      >div {
        left:10%;
      }
    }
  }
}

@media screen and (max-width: 486px) {
  .app {
    >div {
      >div {
        left:2%;
      }
    }
  }
}