.festivaltitletop {
  margin: 0 auto;
  width: 768px;
  margin-top: 100px;
}
.festivaltitle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 70px 0 70px;

  line-height: 0;

  font-weight: 500;
  text-shadow: 1px 2px 3px #808080;
  font-size: 47px;
}

.festivaltitle p {
  margin-bottom: 60px;
}

//스와이퍼
.areatopbest {
  cursor: pointer;
  width: 768px;
  margin: 0 70px 0 70px;
  margin-top: 30px;
}
.swiper {
  width: 768px;
  margin: 0 auto;
}
.swiper-horizontal {
  margin: 0 70px 0 70px;
}

.swiperwidth {
  width: 130px !important;
  margin-right: 12px !important;
}
.swiper-slide {
  > div {
    background-color: #eef5f8;

    display: inline-block;
    border: 1px solid #000;
    border-radius: 15px;
    width: 130px;
    height: 60px;
    margin-left: 10px;
    border: none;
    > p {
      text-align: center;
      line-height: 60px;
      color:#000;
    }
  }
  .area.active {
    background-color: #0f3642;
    color: #fff;
  }
}
.swiper-slide:hover {
  > div {
    transform: skew(10deg);
    background-color: #0056b3;
  }
}

.swiper-pagination-horizontal {
  display: none;
}

//서울 api
.seoulapi {
  width: 100%;

  margin: 100px 0;
  padding:0 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  > p {
    padding-right: 7px;
    margin-bottom: 30px;
    width: 100%;
  }
  > div {
    display: inline-block;
    width: 300px;
    padding-bottom: 30px;
    margin-right: 0;
    position: relative;
    > div {
      > a {
        > img {
          border-radius: 16px;
          margin-bottom: 20px;
        }
        > div {
          position: absolute;
          left: 0;
          top: 10%;
          width: 100%;
          > div {
            display: flex;
            justify-content: space-between;
            padding: 0 8px;
            font-size: 14px;
            opacity: 0.7;
            > div {
              color: #fff;
              border: 1px solid #000;
              padding: 5px 16px;
              border-radius: 30px;
              background-color: #ff3509;
              border: none;
            }
            > p {
              color: #464646;
            }
          }
        }
      }
      > div {
        width: 100%;
        padding: 0 20px;
        > div {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}

//북마크

.toggler-wrapper.style-26 input[type="checkbox"] {
  display: none;
}

.toggler-wrapper.style-26 .toggler-slider {
  position: relative;
  width: 50px;
  height: 25px;
  background-color: #d9d9d9;
  border-radius: 25px;
}

.toggler-wrapper.style-26 .toggler-knob {
  position: absolute;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  background-color: #eb4f37;
  transition: left 0.3s ease;
}

.toggler-wrapper.style-26 .toggler-knob:after {
  content: "0";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 75%;
  text-transform: uppercase;
  font-weight: 500;
  transition: content 0.3s ease, color 0.3s ease;
  color: white;
}

.toggler-wrapper.style-26
  input[type="checkbox"]:checked
  + .toggler-slider
  .toggler-knob {
  left: calc(100% - 19px - 3px);
  background-color: #44cc66;
}

.toggler-wrapper.style-26
  input[type="checkbox"]:checked
  + .toggler-slider
  .toggler-knob:after {
  content: "1";
}


@media screen and (max-width: 760px) {
  .festivaltitle {
    font-size: 37px;
  }
  .swiper-slide {
    > div {
      width: 100px;
      margin: 0;
    }
  }
  .swiperwidth {
    width: 100px !important;
    margin: 0;
  }
}
